{% extends "base.html" %}
{% set active_page = 'home' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="w-50">
  <form>
    <div class="form-group">
      <label for="birthday">Enter birthday</label>
      <input type="date" class="form-control" placeholder="Enter date">
      <small class="form-text text-muted">Find people that share your birthday.</small>
    </div>
    <div class="form-group">
      <label for="entry count">Number of results</label>
      <input type="integer" class="form-control" placeholder="Enter a number between 1-20">
    </div>
    <button type="Search" class="btn btn-primary">Search!</button>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Birth Year</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in myData %}
    <tr>
      <td class="align-middle">{{ loop.index }}</td>
      <td class="align-middle"><img src= {{ entry['thumbnail'] }} class="img-thumbnail" style="max-height:50px; max-width:50px;">
      <td class="align-middle">{{ entry['text'] }}</td>			
      <td class="align-middle">{{ entry['year'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
